<%= render partial: 'layouts/form_errors',
locals: {
  model: @book
}
%>

<%= form_with model: @book, class: 'book-form' do |f| %>

  <h3><%= form_title %></h3>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <hr />

  <%= f.select :author_id, Author.all.map{ |auth| [auth.name, auth.id] } %>

  <hr />

  <%= f.label :genres %>
  <%= collection_check_boxes(:book, :genre_ids, Genre.all, :id, :name) %>

  <hr />

  <%= f.submit action_type, class: "book-form-submit-button" %>

<% end %>
