<div id="books-index">

  <h2>List of Books</h2>

  <ul>
    <% @books.each do |book| %>
    <li class="book-summary">
      <strong>
        <%= book.title %>
      </strong>
      by: <%= link_to book.author.name, author_path(book.author) %>
      <%= link_to "(View Details)", book_path(book.id) %>
      <%= link_to "Edit", edit_book_path(book.id) %>
      <%= link_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you 1000% sure you want to delete the book #{book.title}?" } %>
    </li>
    <% end %>

  </ul>

</div>
