<h2>Book Details</h2>

<!-- <%= image_tag "cat_fluff.jpg", alt: "it's samson!", class: "book-cover-image" %> -->

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author</strong>
  <%= @book.author.name %>
</p>

<p>
  Added to database
  <%= readable_date(@book.created_at) %>
</p>

<p>
  <%= readable_date(nil) %>
</p>

<section>
  <h3>Genres:</h3>
  <ul>
    <% @book.genres.each do |genre| %>
      <li>
        <%= genre.name %>
      </li>
    <% end %>
  </ul>
</section>




<%= link_to "Go Back to All Books", books_path, class: "all-books-link" %>
