<!DOCTYPE html>
<html>
  <head>
    <title>Edges Book Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Edges Book Club</h1>
      <nav>
        <ul>
          <li><%= link_to "All Books", books_path %></li>
          <li><%= link_to "New Book", new_book_path %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; 2018, Ada Developers Academy
    </footer>
  </body>
</html>
