<!DOCTYPE html>
<html>
  <head>
    <title>Edges Book Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Edges Book Club</h1>
      <nav class="top-navbar">
        <ul>
          <li>
            <%= link_to "All Books", books_path %>
          </li>
          <li>
            <%= link_to "New Book", new_book_path %>
          </li>
          <li>
            <%= link_to "All Authors", authors_path %>
          </li>
          <li>
            <%= link_to "New Author", new_author_path %>
          </li>
        </ul>
      </nav>

      <section class="login-info">
        <!-- Oh gosh this logic should probably be in a controller filter -->
        <% logged_in_author = Author.find_by(id: session[:user_id]) %>
        <% if logged_in_author %>
          <p>
            Currently logged in as author
            <%= logged_in_author.name %>
            <%= link_to "Log out", logout_path, method: :post %>
          </p>
        <% else %>
          <%= link_to "Log in", new_session_path %>
        <% end %>
      </section>
    </header>

    <section class="flash-messages">
      <% flash.each do |key, message| %>
        <p class="<%= key %>">
          <%= message %>
        </p>
      <% end %>
    </section>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; 2018, Ada Developers Academy
    </footer>
  </body>
</html>
